
# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.user
*.sln.docstates

# VS Code
.vscode/

# OS
.DS_Store

# Logs
*.log

# .NET / Core
project.lock.json
project.fragment.lock.json
artifacts/

# Test results
TestResult.xml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.userprefs

# Publish
publish/
*.publishsettings
