# Visual Studio 2022
.vs/
.vscode/

# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Sensitive files
appsettings.Development.json
appsettings.local.json

# OS specific
.DS_Store
Thumbs.db

# Other
*.log
*.lock.json
