trigger:
 branches:
  include:
    - releases/*
 paths:
  include:
    - ./*

pool:
  vmImage: 'windows-latest'

resources:
 repositories:
   - repository: templates
     type: git
     name: Shared Packages/PipelineTemplates
     ref: refs/heads/main

extends:
  template: /pipelines/cicd-template.yml@templates
  parameters:
    build:
      - job: Build
        steps:
          - template: /build/website-dotnet.yml@templates
            parameters:
              solutionToRestore: CopelinSystem.slnx
              websiteProjectFolder: $(Build.SourcesDirectory)
              websiteProjectFile: CopelinSystem.csproj
    
    deployDEV:
      - template: /deploy/website-iis-dotnet.yml@templates
        parameters:
          environment: DEV
          bindings:             
            - hostname: EWS-DEV.hpw.qld.gov.au
          websiteName: EWS-DEV.hpw.qld.gov.au
          websiteRootFolderOnDisk: F:\Websites\EWS
          appPoolIdentityForWebsite: ApplicationPoolIdentity
          windowsAuthenticationForWebsite: true
          variableGroups:
            - EWS-CICD-DEV